.App {
  text-align: center;
    margin: 0;
  padding: 0;
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: sticky;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.content-wrapper {
overflow-y: scroll;

}

.content {
  padding: 1%;
  flex: 1;
  background-color: #a9bfd4;
  flex-direction: column;
  align-items: center;
  justify-content: up;
  font-size: calc(10px + 2vmin);
  color: black;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
